<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teradata.zuul.repository.UserService">

    <resultMap id="sysUser-result" type="com.teradata.zuul.bean.UserBean">
        <result property="userId" column="USER_ID" />
        <result property="password" column="USER_PASS" />
        <result property="role" column="USER_ROLE" />
        <result property="permission" column="USER_Permission" />

    </resultMap>

    <select id="getUserByName" resultMap="sysUser-result" parameterType="java.util.HashMap">
        SELECT
					 T1.USER_ID				AS USER_ID
					,T1.USER_PASS			AS USER_PASS
					,trim(T1.USER_ROLE)			AS USER_ROLE
                    ,'insert,get,delete,update' AS USER_Permission
			FROM	SYS_USER T1
			LEFT JOIN	SYS_LOC_LATN T2
				   ON	T1.LATN_ID=T2.LATN_ID
			LEFT JOIN   SYS_DEPART T3
			       ON  	T1.DEPART_ID = T3.DEPART_ID
            LEFT JOIN   SYS_ROLE T4
                   ON   T1.USER_ROLE = T4.ROLE_ID
            WHERE 1=1
                AND T1.USER_ID like '%'|| #{userId}||'%'

    </select>

</mapper>